.pragmatic_logo{
    font-family: 'Fjalla One', sans-serif;
}

.pragmatic_footer_button{
    style="'font-size: .9rem;"
}


.pragmatic_footer{
    text-align:center;
    margin-top:2rem;
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}